/** @format */

* {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  align-items: center;
}

body {
  margin-top: 51px;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

div.dice {
  font-size: 5em;
  margin-bottom: 15px;
  align-items: center;
  text-align: center;
}

.roll-animation {
  animation: roll 1s infinite;
}

@keyframes roll {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(720deg) rotateY(720deg);
  }
}
button {
  padding: 15px 40px;
  font-size: 1.3em;
  background-color: rgb(111, 111, 237);
  color: white;
  border: none;
  box-shadow: rgba(111, 111, 237, 0.5);
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 10px;
}

ul {
  width: 50%;
  text-decoration: none;
  list-style: none;
  margin: 50px auto;
}

li {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  justify-content: space-between;
  font-size: 1.2em;
}

span {
  font-size: 2.7em;
}
